# Настройки проекта
APP_URL=http://localhost:3000

# Supabase PostgreSQL
DATABASE_URL=
DIRECT_URL=

# Email Delivery (Resend API)
RESEND_API_KEY=

# OneSignal Web Push
VITE_ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=
