# Настройки проекта
APP_URL=http://localhost:3000

# Supabase PostgreSQL
DATABASE_URL=
DIRECT_URL=

# Email Delivery (SMTP / Gmail App Password)
SMTP_EMAIL=
SMTP_PASSWORD=
SMTP_HOST= (Опционально. Если @gmail.com - не нужен, иначе например smtp.yandex.ru)
SMTP_PORT= (Опционально. По умолчанию 465)

# OneSignal Web Push
VITE_ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=

# SMS Provider API Key (SMSPILOT/Unisender)
SMS_API_KEY=
